<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ramya.savaari">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/parse_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".ui.activities.LoginActivity"
            android:theme="@style/LoginTheme">

        </activity>
        <activity
            android:name=".ui.activities.SignUpActivity"
            android:label="Sign Up"
            android:parentActivityName=".ui.activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ramya.savaari.ui.activities.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.activities.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activities.AddVehicleActivity"
            android:parentActivityName=".ui.activities.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ramya.savaari.ui.activities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ViewVehicleActivity"
            android:parentActivityName=".ui.activities.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ramya.savaari.ui.activities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.UserProfileActivity"
            android:parentActivityName=".ui.activities.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ramya.savaari.ui.activities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ViewAllVehiclesActivity"
            android:label="View Vehicles"
            android:parentActivityName=".ui.activities.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ramya.savaari.ui.activities.WelcomeActivity" />
        </activity>
        <activity
            android:name=".ui.activities.ViewUserVehicleActivity"
            android:label="View Vehicle"
            android:parentActivityName=".ui.activities.ViewAllVehiclesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ramya.savaari.ui.activities.ViewAllVehiclesActivity" />
        </activity>
        <activity android:name=".ui.activities.UpdateVehicleActivity"
            android:label="Update"
            android:parentActivityName=".ui.activities.WelcomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ramya.savaari.ui.activities.WelcomeActivity" />
        </activity>
        <activity android:name=".ui.activities.UpdateUserActivity"
            android:label="Update"
            android:parentActivityName=".ui.activities.UserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ramya.savaari.ui.activities.UserProfileActivity" />
        </activity>
        <activity android:name=".ui.activities.SplashActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>